@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.text-primary{
    color: #5F6FFF;
}
.bg-primary{
    background-color: #5F6FFF;
}
.border-primary{
    color: #5F6FFF;
}
.border-primary{
    color: #5F6FFF;
}
::-webkit-scrollbar{
    @apply hidden
}
*{
    font-family: Outfit;
}